*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --yellow : #ffd200;
    --green : #62ab00;
    --green-hover : #79b725;
    --gray : #5a5a5a;
    --fade-gray : #66666662;
    --white : #fff;
}
li , a {
    color: #5a5a5a;

    text-decoration: none;
    list-style: none;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}

body{
    font-family: 'Rubik', sans-serif;;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
}

.top-content{
    background: var(--yellow);
    height: 3rem;
    padding: 1rem;
    font-size: 14px;

}
.top-content button{
    float: right;
    background: #ffd200;
    border: none;
    font-size: 20px;

}
.top-content button:hover{
    color: red;
}
.top-content span a{
    color: red;
}
.top-content span a:hover{
    text-decoration: underline;    
}
.middle-header{
    font-size: 12px;
    display: flex;
    align-items: center;
    height: 3rem;
}
.left-section{
    position: relative;
    width: 45%;
    display: flex;
    
}
.left-section  ul :nth-child(1) >li:hover {
    color: var(--green-hover);

}
.left-section-left,.left-section-right{
    width: 50%;
    align-items: center;
}
.left-section ul {
    display: block;

}
.left-section-left ul li {
    padding: 20px 0;
}
.left-section-right ul li {
    padding: 20px 0;
}
.left-section-left > ul {
    display: block;
}

.dropdown{
    display: none;
    z-index: 2;
}
.left-section-left > ul:hover .dropdown{
    display: block;
    position: absolute;
}

.left-section-right > ul li {
    display: block;
}
.dropdown{
    color: black;
    display: none;
    width: 200px;
    background: rgb(253, 251, 251);
    text-align: center;

}
.left-section-right > ul li:hover .dropdown{
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.993);

}

.right-section{
    display: flex;
    width: 50%;
    align-items: center;
    
}
.right-section ul li{
    display: inline;
    margin: 0 20px;
}
.right-section  ul li:hover{
    text-decoration: underline;

}

.main-header{
    display: flex;
    align-items: center;
    padding: 2% 0;
}
.main-header .left-section{
    display: flex;
    justify-content: space-between;
}
.call-to-action{
    display: flex;
    align-items: center;
}

.fa-headset{
    margin: 0 2rem;
}
.cta-section p{
    padding: 5% 0;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}

.cta-section p:nth-child(2):hover{
    color: var(--green-hover);
}

input[type=search]{
    font-size: 12px;
    height: 40px;
    width: 50%;
    outline: none;
    border: 1px solid var(--fade-gray);
    padding: 1rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
button.search-button{
    color: var(--white);
    height: 40px;
    width: 40px;
    margin: 0 -10px;
    background: var(--green);
    border: none;
    border-radius:0 5px 5px 0;
    -webkit-border-radius:0 5px 5px 0;
    -moz-border-radius:0 5px 5px 0;
    -ms-border-radius:0 5px 5px 0;
    -o-border-radius:0 5px 5px 0;
}
.add-to-cart{
    color: var(--green);
    height: 40px;
    width: 40px;
    border: 1px solid var(--fade-gray);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.fa-cart-shopping {
    padding: 50% 10%;
    display: block;
    align-items: center;

}
.right-section-left{
    text-align: center;
    width: 90%;
}
.right-section-right{
    width: 10%;
}

.nav-bar{
    align-items: center;
    background: var(--green);
    height: 50px;
    width: 100%;
}
.nav-bar ul li{
    padding: 10px;
    display: inline-block;

}
.nav-bar > ul{
    display: block;
}
.nav-bar ul li a{
    text-transform: uppercase;

    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
.nav-bar ul li  > ul li {
    display: block;
    transition: 1s ease;
    background: rgba(235, 235, 235, 0.808);
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
}
.nav-bar ul > li > ul{
    display: none;
    padding: 1%;
} 
.nav-bar ul li:hover ul{
    display: block;
    position: absolute;
}

.nav-bar ul li  > ul li:hover{
    color: var(--green-hover);

}

#promise-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  
  }
  .promise-section{
    background: rgba(170, 170, 170, 0.096);
    height: 100%;
    width: 380px;
    text-align: center;
  padding: 3% 0;
  margin: 20px 0;
  font-size: 14px;
  }
